@{
    ViewData["Title"] = "编辑页面";
    Layout = null;
}

<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    @*要想让CkEditor在手机端自适应下面这样代码必须*@
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Document Editor</title>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/article/editor.md/css/editormd.css" rel="stylesheet" />
</head>

<body class="m-0 min-vh-100">

    <div class="container-fluid p-2 min-vh-100" style="background-color:#f0f8ff">

        <form name="articleForm">
            <div class="editormd" id="editor">
                <textarea class="editormd-markdown-textarea" name="markcontent"></textarea>
                <textarea class="editormd-html-textarea" name="htmlcontent"></textarea>
            </div>

            <!-- 点击提交按钮之后选择分类的Modal -->
            <div class="modal fade" id="SubmitModal" tabindex="-1" role="dialog" data-backdrop="static"
                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content border-0 rounded-sm pb-1 pt-0">
                        <div class="modal-header border-bottom border-light py-2">
                            <h5 class="modal-title text-secondary" id="exampleModalLabel" style="font-size: .95rem;">
                                <i class="fa fa-info-circle text-info"></i>
                            </h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body text-left pb-0">
                            <div class="form-group">
                                <label for="article_title">输入一个文章标题：</label>
                                <input type="text" class="form-control" name="title" placeholder="文章标题" value="@ViewBag.ArticleTitle">
                            </div>
                            <div class="form-group">
                                <label for="category">选择您的文章分类：</label>
                                <select class="form-control form-control" name="categoryid">
                                    @foreach (var item in @ViewBag.Categories){
                                        if(item.Id==ViewBag.ArticleCategoryId){
                                    <option value="@item.Id" selected="selected">@item.Name</option>
                                        }
                                        else{
                                    <option value="@item.Id">@item.Name</option>
                                        }
                                    }
                                </select>
                            </div>
                            <div class="form-group mt-4">
                                <button name="submitButton" type="button" class="btn btn-primary btn-block mx-auto">
                                    提交文章
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>

    </div>

    <!-- 提醒Modal -->
    <div class="modal fade" id="alertModal" tabindex="-1" role="dialog" data-backdrop="static"
         aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content border-0 rounded-sm pb-2 pt-0">
                <div class="modal-header border-bottom border-light py-2">
                    <h5 class="modal-title text-secondary" id="exampleModalLabel" style="font-size: .95rem;">
                        <i class="fa fa-info-circle text-info"></i>
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-left">
                    &nbsp;&nbsp;&nbsp;&nbsp; 请您在开始写作之前，务必了解以下注意事项：
                    <ul>
                        <li>
                            请确保您已经了解Markdown的相关语法，如您从未使用Markdown进行过文档编辑，可以参考：<a href="https://www.jianshu.com/p/191d1e21f7ed">https://www.jianshu.com/p/191d1e21f7ed</a>
                        </li>
                        <li>
                            服务器空间有限，暂不支持上传图片，建议通过Markdown实现自己需要的图片效果。
                        </li>
                        <li>
                            文档编辑完成之后，请点击顶部工具栏中的‘纸飞机’按钮进行提交。
                        </li>
                        <li>
                            严禁传播黄、赌、毒及反动等违法信息，违者必追究法律责任！
                        </li>
                    </ul>
                    <button type="button" class="btn btn-primary btn-block w-25 mx-auto"
                            onclick="CloseAlertModal()">
                        好的，我已知晓
                    </button>
                </div>
            </div>
        </div>
    </div>

    @*提交结果Modal*@
    <div class="modal fade" id="SubmitResultModal" tabindex="-1" role="dialog" data-backdrop="static"
         aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content border-0 rounded-sm pb-2 pt-0">
                <div class="modal-header border-bottom border-light py-2">
                    <h5 class="modal-title text-secondary" id="exampleModalLabel" style="font-size: .95rem;">
                        <i class="fa fa-info-circle text-info"></i>
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center" data-submitresult>
                </div>
            </div>
        </div>
    </div>

    <input type="hidden" id="test" value="@ViewBag.ArticleMarkdownContent" />

    <script src="~/article/editor.md/editormd.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        var articleId = '@ViewBag.ArticleId';
        var submitUrl = '@Url.Action("Submit","Article")';
        var articleMarkDownContent = $("#test").val();

        $("#alertModal").modal("show");

        function CloseAlertModal() {
            $("#alertModal").modal("hide");
        };

        var editor = editormd("editor", {
            height: "1000px",
            path: "/article/editor.md/lib/",
            toolbarIcons: function () {
                return editormd.toolbarModes.full.concat(['postbutton']);
            },
            saveHTMLToTextarea: true,
            toolbarIconsClass: {
                postbutton: "fa-paper-plane"
            },
            lang: {
                toolbar: {
                    postbutton: "提交"
                }
            },
            onload: function () {
                editormd.loadPlugin("./editor.md/plugins/postbutton/postbutton", function () {
                    // 初始化插件 实现监听
                    editor.postbutton();
                });
                if (articleMarkDownContent != "") {
                    this.setValue(articleMarkDownContent);
                }
            }
        });

        $("button[name='submitButton']").on("click", function () {
            var formData = $("form[name='articleForm']").serializeArray();
            var params = {};
            $.each(formData,
                function () {
                    params[this.name] = this.value;
                });
            params.id = articleId;

            $.ajax({
                url: submitUrl,
                type: 'POST',
                async: true,
                data: params,
                timeout: 5000,
                dataType: 'json',
                success: function (data) {
                    $("div[data-submitresult]").text("提交成功，等待审核……");
                    $("#SubmitResultModal").modal("show");
                },
                error: function (xhr, textStatus) {
                    $("div[data-submitresult]").text("提交失败！");
                    $("#SubmitResultModal").modal("show");
                },
                complete: function () {
                    $("#SubmitModal").modal("hide");
                }
            });

        });

    </script>
</body>

</html>